html, body {
  padding: 0;
  margin: 0;
  a{
    text-decoration: none;
  }
  p {
    margin: 0;
  }
  /* background-color: aqua; */
}

/* NAVBAR */
nav{
  position: fixed;
  width: 100%;
  top: 0;
  .navbar-container{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000012;

    .navbar-container-image{

      padding: 10px 0;
      img {
        width: 130px;
      }
    }
    .navbar-container-options-botao{
      background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      flex-shrink: 0;
      font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 500;
      height: 4rem;
      padding: 12px 1.6rem;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
      transition: all .5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  }
}

/* HEADER */
.section-header{
  margin-top: 70px;
  background-color: #455EB5;
  height: 400px;
  display: flex;
  align-items: center;
  padding-left: 10%;
  margin: 0;

  .section-header-apresentation-1 {
    color: rgb(99, 99, 99);
    margin: 0;
    font-size: 1em;
  }
  .section-header-apresentation-2 {
    color: rgb(25, 25, 25);
    font-size: 5em;
    margin: 15px 0;
  }
  .section-header-apresentation-3 {
    color: rgb(99, 99, 99);
    margin: 0;
    font-size: 1.2em;
  }
}
/* HEADER */
.section-motivo{
  margin-top: 70px;
  background-color: #45b54b;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0 20px 10%;

  .section-motivo-apresentation{
    width: 30%;
    .section-motivo-apresentation-1 {
      color: rgb(99, 99, 99);
      margin: 0;
      font-size: 1em;
    }
    .section-motivo-apresentation-2 {
      color: rgb(25, 25, 25);
      font-size: 5em;
      margin: 15px 0;
      line-height: 75px;
    }
    .section-motivo-apresentation-3 {
      color: rgb(99, 99, 99);
      margin: 0;
      font-size: 1.2em;
    }
  }
  .section-motivo-quadro{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;

    .section-motivo-quadro-item{
      width: 48%;
      max-width: 220px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding: 30px;
      border-radius: 7px;
      margin: 13px;

      .section-motivo-quadro-item-icon{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #455EB5;
        width: 60px;
        height: 60px;
        border-radius: 7px;
        margin-bottom: 14px;
        i{
          font-size: 1.7em;
        }
      }

      p{
        text-align: center;
      }
    }
  }
}
