html, body {
  padding: 0;
  margin: 0;
  a{
    text-decoration: none;
  }
  p {
    margin: 0;
  }
}

/* NAVBAR */
nav{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  .navbar-container{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000012;

    .navbar-container-image{

      padding: 10px 0;
      img {
        width: 130px;
      }
    }
    .navbar-container-options-botao{
      background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      flex-shrink: 0;
      font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 500;
      height: 4rem;
      padding: 12px 1.6rem;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
      transition: all .5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  }
}

/* HEADER */
.section-header{
  margin-top: 70px;
  height: 300px;
  display: flex;
  align-items: center;
  padding-left: 10%;

  .section-header-apresentation{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    h1, h2, h3 {
      width: 100%;
    }
  }

  .section-header-apresentation-1 {
    color: rgb(99, 99, 99);
    margin: 0;
    font-size: 1em;
  }
  .section-header-apresentation-2 {
    color: rgb(25, 25, 25);
    font-size: 5em;
    margin: 15px 0;
  }
  .section-header-apresentation-3 {
    color: rgb(99, 99, 99);
    margin: 0;
    font-size: 1.2em;
  }
  .section-header-apresentation-4 {
    margin-top: 20px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    padding: 10px 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}
/* HEADER */
.section-motivo{
  margin-top: 80px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0%;
  width: 100%;

  .section-motivo-apresentation{
    width: 30%;
    margin-left: 10%;

    .section-motivo-apresentation-1 {
      color: rgb(99, 99, 99);
      margin: 0;
      font-size: 1em;
    }
    .section-motivo-apresentation-2 {
      color: rgb(25, 25, 25);
      font-size: 4em;
      margin: 15px 0;
      line-height: 60px;
      font-weight: bold;
    }
    .section-motivo-apresentation-3 {
      color: rgb(99, 99, 99);
      margin: 0;
      font-size: 1.2em;
    }
  }
  .section-motivo-quadro{
    width: 65%;

    .section-motivo-quadro-divisor{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: start;
      width: 100%;
      margin-bottom: 10px;
    }

    .quadro-item-flutuante{
      margin-bottom: 40px !important;
    }
    .section-motivo-quadro-item{
      width: 48%;
      max-width: 220px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      background-color: white;
      padding: 30px;
      border-radius: 7px;
      margin-left: 28px;
      height: 100%;
      min-height: 130px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

      .section-motivo-quadro-item-icon{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #455EB5;
        width: 60px;
        height: 60px;
        border-radius: 7px;
        margin-bottom: 14px;
        color: white;
        i{
          font-size: 1.7em;
        }
      }

      p{
        text-align: center;
      }
    }
  }
}

@media (max-width: 1078.9px) {
  /* SEÇÃO MOTIVO */
  .section-motivo{
    flex-wrap: wrap;
    .section-motivo-apresentation{
      width: 100%;
      margin-bottom: 50px;

      p {
        width: 80%;
      }
    }
    .section-motivo-quadro{
      width: 100%;
      
      .section-motivo-quadro-divisor{
        justify-content: center;
      }
    }

  }
}
@media (max-width: 649.9px) {
  /* NAVBAR */
  nav{
    .navbar-container{
      padding: 0 25px;

      .navbar-container-image{
        img {
          width: 100px;
        }
      }
      .navbar-container-options-botao{
        font-size: 0.8em;
        height: 4em;
        padding: 10px 1.6rem;
      }
    }
  }

  /* SEÇÃO HEADER */
  .section-header {
    height: 300px;
    .section-header-apresentation {
      height: 100%;

      align-content: center;
    }
    .section-header-apresentation-1{
      font-size: 0.7em;
    }
    .section-header-apresentation-2{
      font-size: 3.3em;
      margin: 4px 0;
    }
    .section-header-apresentation-3{
      font-size: 0.9em;
      width: 80%;
    }
  }

  /* SEÇÃO MOTIVO */
  .section-motivo{
    margin-top: 30px;

    .section-motivo-apresentation{
      width: 100%;
      margin-bottom: 50px;

      p {
        width: 80%;
      }
      .section-motivo-apresentation-1 {
        font-size: 0.9em;
      }
      .section-motivo-apresentation-2 {
        font-size: 3em;
        line-height: 47px;
        margin: 8px 0 15px 0;
      }
      .section-motivo-apresentation-3 {
        font-size: 1em;
      }
    }

    .section-motivo-quadro{
      .section-motivo-quadro-divisor{
        margin: 0;
        flex-wrap: nowrap;
      }
      .quadro-item-flutuante{
        margin-bottom: 30px !important;
      }
      .section-motivo-quadro-item{
        margin: 10px 8px;
        width: 25%;
        min-height: 130px;
        padding: 30px;

        .section-motivo-quadro-item-icon{
          width: 45px;
          height: 45px;
          margin-bottom: 14px !important;
          color: white;
          i{
            font-size: 1.7em;
          }
        }
        p {
          font-size: 0.7em;
        }
      }
    }
  }
}