html, body {
  padding: 0;
  margin: 0;
  a{
    text-decoration: none;
  }
  p {
    margin: 0;
  }
}

/* NAVBAR */
nav{
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 100;
  .navbar-container{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000012;

    .navbar-container-image{

      padding: 10px 0;
      img {
        width: 130px;
      }
    }
    .navbar-container-options-botao{
      background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      flex-shrink: 0;
      font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 500;
      height: 4rem;
      padding: 12px 1.6rem;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
      transition: all .5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
  }
}

/* HEADER */
.section-header{
  margin-top: 70px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;


  .section-header-apresentation{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    h1, h2, h3 {
      width: 100%;
    }
  }

  .section-header-apresentation-1 {
    color: rgb(99, 99, 99);
    margin: 0;
    font-size: 1em;
  }
  .section-header-apresentation-2 {
    color: rgb(25, 25, 25);
    font-size: 5em;
    margin: 15px 0;
  }
  .section-header-apresentation-3 {
    color: rgb(99, 99, 99);
    margin: 0;
    font-size: 1.2em;
  }
  .section-header-apresentation-4 {
    margin-top: 20px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    padding: 10px 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}
/* MOTIVO */
.section-motivo{
  margin-top: 80px;
  /* height: 400px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0%;
  width: 100%;

  .section-motivo-apresentation{
    width: 30%;
    margin-left: 10%;
    /* background-color: #455EB5; */

    .section-motivo-apresentation-1 {
      color: rgb(99, 99, 99);
      margin: 0;
      font-size: 1em;
    }
    .section-motivo-apresentation-2 {
      color: rgb(25, 25, 25);
      font-size: 4em;
      margin: 15px 0;
      line-height: 60px;
      font-weight: bold;
    }
    .section-motivo-apresentation-3 {
      color: rgb(99, 99, 99);
      margin: 0;
      font-size: 1.2em;
    }
  }
  .section-motivo-quadro{
    /* width: 40%; */
    /* background-color: #455EB5; */

    .section-motivo-quadro-divisor{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: start;
      width: 100%;
      margin-bottom: 10px;
    }

    .quadro-item-flutuante{
      margin-bottom: 40px !important;
    }
    .section-motivo-quadro-item{
      width: 48%;
      max-width: 220px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      background-color: white;
      padding: 30px;
      border-radius: 7px;
      margin-left: 28px;
      height: 100%;
      min-height: 130px;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

      .section-motivo-quadro-item-icon{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #455EB5;
        width: 60px;
        height: 60px;
        border-radius: 7px;
        margin-bottom: 14px;
        color: white;
        i{
          font-size: 1.7em;
        }
      }

      p{
        text-align: center;
      }
    }
  }
}

/* SECTION SOBRE */
.section-sobre{
  background: url("../images/bg-2.jpg") no-repeat;
  background-size: cover;        /* Faz a imagem ocupar todo o elemento */
  background-position: center;   /* Centraliza a imagem */
  padding: 140px 20px;
  margin-top: 90px;

  .section-sobre-content{
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border-radius: 4px;
    padding: 40px 40px;
    margin: auto;

    .section-sobre-content-title{
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .section-sobre-content-text{
      line-height: 30px;
      color: rgb(39, 39, 39);
      font-size: 1.2em;
    }
  }
}

/* SECTION SERVICOS */
.section-servicos {
  /* background-color: orange; */
  margin-top: 90px;
  margin-bottom: 100px;

  .section-servicos-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .section-servicos-content-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80%;
      margin-bottom: 60px;
      p{
        width: 100%;
        text-align: center;
      }
      .section-servicos-content-title{
        font-size: 3em;
      }
      .section-servicos-content-text-1{
        margin: 18px 0;
        font-size: 1.2em;
        font-weight: 400;
        color: rgb(49, 49, 49);
      }
      .section-servicos-content-text-2{
        font-size: 1.2em;
        font-weight: 400;
        color: rgb(49, 49, 49);
        line-height: 25px;
        max-width: 600px;
      }
    }

    .section-servicos-content-info{
      width: 80%;

      .section-servicos-content-info-item{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-bottom: 40px;

        .section-servicos-content-info-item-image {

          display: flex;
          align-items: center;
          justify-content: end;
          /* background-color: rgba(255, 0, 0, 0.2); */

          img{
            width: 100%;
            max-width: 400px;
            border-radius: 8px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          }
        }
        .section-servicos-content-info-item-detail {
          width: 500px;
          display: flex;
          align-content: center;
          justify-content: start;
          flex-wrap: wrap;
          padding-left: 40px;

          p{
            width: 100%;
          }

          .section-servicos-content-info-item-detail-title{
            font-size: 1.52em;
            font-weight: bold;
            margin-bottom: 20px;
          }
          .section-servicos-content-info-item-detail-text{
            font-size: 1.1em;
            font-weight: 550;
            width: 100%;
            max-width: 500px;
            line-height: 25px;
            color: rgb(96, 96, 96);
          }
        }
      }

      .section-servicos-content-info-item-reverse{
        .section-servicos-content-info-item-image {
          justify-content: start !important;
          order: 2;
        }
        .section-servicos-content-info-item-detail {
          justify-content: end !important;
          padding-right: 40px !important;
          order: 1;
        }
      }
    }
  }
}

/* SECTION SIMPLIFIQUE */
.section-simplifique{
  background-color: rgba(234, 234, 234, 0.388);
  padding: 100px 10%;

  .section-simplifique-content{
    .section-simplifique-content-title{
      max-width: 450px;
      font-size: 3em;
      line-height: 50px;
      font-weight: bold;
    }
    .section-simplifique-content-text{
      max-width: 500px;
      font-size: 1.2em;
      font-weight: 500;
      line-height: 25px;
      color: rgb(99, 99, 99);
      margin: 30px 0;
    }
    .section-simplifique-content-list{
      .section-simplifique-content-list-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        i{
          margin-right: 5px;
          color: rgb(199, 0, 0);
        }
        p{
          color: rgb(99, 99, 99);
          font-size: 1.2em;
          font-weight: 550;
        }
      }
    }
  }
}


/* SECTION IDENTIFICAÇÃO */
.section-identificacao{
  background-color: rgba(234, 234, 234, 0.388);
  margin-bottom: 100px;
  .section-identificacao-content{

    .section-identificacao-content-header{
      padding: 0 0 100px 10%;
      .section-identificacao-content-header-title{
        max-width: 450px;
        font-size: 3em;
        line-height: 50px;
        font-weight: bold;
      }
      .section-identificacao-content-header-text{
        max-width: 500px;
        font-size: 1.2em;
        font-weight: 500;
        line-height: 25px;
        color: rgb(99, 99, 99);
        margin: 30px 0;
      }
    }
    .section-identificacao-content-list{
      display: flex;
      justify-content: space-around;
      width: 100%;

      .section-identificacao-content-list-item {
        width: 27%;
        height: 500px;
        border-radius: 6px;
        color: white;
        position: relative;
        overflow: hidden;

        img{
          width: 100%;
          position: absolute;
          left: 0;
          z-index: -1;
        }
        .section-identificacao-content-list-item-content {
          height: 100%;
          padding: 0 20px 20px 20px;
          background: linear-gradient(180deg,rgba(0, 0, 0, 0.47) 0%, rgba(0, 0, 0, 0.893) 42%);
          display: flex;
          flex-wrap: wrap;
          align-content: end;
          
          .section-identificacao-content-list-item-content-title{
            font-size: 1.6em;
            font-weight: bold;
            margin-bottom: 20px;
          }
          .section-identificacao-content-list-item-content-text{
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 20px;
            line-height: 25px;
          }
        }
      }
    }
  }
}



@media (max-width: 1078.9px) {
  /* SEÇÃO MOTIVO */
  .section-motivo{
    flex-wrap: wrap;
    .section-motivo-apresentation{
      width: 100%;
      margin-bottom: 50px;

      p {
        width: 80%;
      }
    }
    .section-motivo-quadro{
      width: 100%;
      
      .section-motivo-quadro-divisor{
        justify-content: center;
      }
    }

  }

  /* SEÇÃO SERVIÇOS */
  .section-servicos {
    .section-servicos-content{

      .section-servicos-content-info{

        .section-servicos-content-info-item{
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 60px;

          .section-servicos-content-info-item-image {
            width: 100%;
            justify-content: center;
            margin-bottom: 30px;
          }
          .section-servicos-content-info-item-detail {
            justify-content: center;
            padding-left: 0px;

            p{
              text-align: center;
            }
          }
        }
        .section-servicos-content-info-item-reverse{
          .section-servicos-content-info-item-image {
            justify-content: center !important;
            order: 1;
          }
          .section-servicos-content-info-item-detail {
            justify-content: center !important;
            padding-right: 00px !important;
            order: 2;
          }
        }
      }
    }
  }

  /* SECTION IDENTIFICAÇÃO */
  .section-identificacao{
    .section-identificacao-content{

      .section-identificacao-content-header{
        padding: 0 0 30px 10%;

        .section-identificacao-content-header-title{
          width: 90%;
          font-size: 2.3em;
          line-height: 45px;
        }
        .section-identificacao-content-header-text{
          font-size: 1em;
        }
      }
      .section-identificacao-content-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .section-identificacao-content-list-item {
          width: 80%;
          height: 400px;
          margin-bottom: 50px;

          .section-identificacao-content-list-item-content {
            .section-identificacao-content-list-item-content-text{
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 649.9px) {
  /* NAVBAR */
  nav{
    .navbar-container{
      padding: 0 25px;

      .navbar-container-image{
        img {
          width: 100px;
        }
      }
      .navbar-container-options-botao{
        font-size: 0.8em;
        height: 4em;
        padding: 10px 1.6rem;
      }
    }
  }

  /* SEÇÃO HEADER */
  .section-header {
    height: 300px;
    .section-header-apresentation {
      height: 100%;

      align-content: center;
    }
    .section-header-apresentation-1{
      font-size: 0.7em;
    }
    .section-header-apresentation-2{
      font-size: 3.3em;
      margin: 4px 0;
    }
    .section-header-apresentation-3{
      font-size: 0.9em;
      width: 80%;
    }
  }

  /* SEÇÃO MOTIVO */
  .section-motivo{
    margin-top: 30px;

    .section-motivo-apresentation{
      width: 100%;
      margin-bottom: 50px;

      p {
        width: 80%;
      }
      .section-motivo-apresentation-1 {
        font-size: 0.9em;
      }
      .section-motivo-apresentation-2 {
        font-size: 3em;
        line-height: 47px;
        margin: 8px 0 15px 0;
      }
      .section-motivo-apresentation-3 {
        font-size: 1em;
      }
    }

    .section-motivo-quadro{
      .section-motivo-quadro-divisor{
        margin: 0;
        flex-wrap: nowrap;
      }
      .quadro-item-flutuante{
        margin-bottom: 30px !important;
      }
      .section-motivo-quadro-item{
        margin: 10px 8px;
        width: 25%;
        min-height: 130px;
        padding: 30px;

        .section-motivo-quadro-item-icon{
          width: 45px;
          height: 45px;
          margin-bottom: 14px !important;
          color: white;
          i{
            font-size: 1.7em;
          }
        }
        p {
          font-size: 0.7em;
        }
      }
    }
  }

  /* SECTION SOBRE */
  .section-sobre{
    padding: 100px 20px;

    .section-sobre-content{
      width: 70%;
      
      .section-sobre-content-text{
        line-height: 25px;
        font-size: 1em;
      }
    }
  }


  /* SECTION SERVICOS */
  .section-servicos {
    .section-servicos-content{
      .section-servicos-content-header {
        .section-servicos-content-title{
          font-size: 2.2em;
        }
        .section-servicos-content-text-1{
          margin: 18px 0;
          font-size: 0.8em;
          font-weight: 400;
        }
        .section-servicos-content-text-2{
          font-size: 0.85em;
          font-weight: 400;
          line-height: 25px;
        }
      }

      .section-servicos-content-info{
        .section-servicos-content-info-item{
          .section-servicos-content-info-item-detail {
            .section-servicos-content-info-item-detail-title{
              font-size: 1em;
              margin-bottom: 15px;
            }
            .section-servicos-content-info-item-detail-text{
              font-size: 0.85em;
              font-weight: 550;
              line-height: 25px;
            }
          }
        }
      }
    }
  }

  /* SECTION SIMPLIFIQUE */
  .section-simplifique{
    padding: 60px 10%;

    .section-simplifique-content{
      .section-simplifique-content-title{
        font-size: 2.5em;
        line-height: 40px;
      }
      .section-simplifique-content-text{
        font-size: 0.9em;
      }
      .section-simplifique-content-list{
        .section-simplifique-content-list-item {
          margin-bottom: 15px;
          p{
            font-size: 0.75em;
            font-weight: 550;
          }
        }
      }
    }
  }
}